*{
    margin: 0;
    padding: 0;
}

body::before{
    content: "";
    position:absolute;
    background-image:  url("../assets/happy-faces-modified.jpg");
    top: 0;
    left: 0;
    width: 100%;
    /* opacity: 0.2; */
    height: 100vh;
    z-index: -5;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .form {
    color: white;
    border-radius: 10px;
    width: 50%;
    margin: 100px auto;
    background-color: rgba(20, 20, 20, 0.568);
    padding: 10px;
    height: 340px
  }
  .caption {
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px 1px black;
  }
  .container {
    width: 80%;
    margin: auto;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input{
    width: 100%;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
  }
  .data {
    margin: 10px;
  }
   .button{
             width: 100%;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 8px 8px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 104px;
    outline: none;
    transition: 0.3s;
    border: none;
    text-decoration:none;
    color:black;
    margin: auto;
    background-color:white;
  }
  #btn{
      display: flex;
  }
  .button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
  }
  @media (max-width:1000px){
      .data{
          font-size: 14px;
      }
      .button{
          font-size: 10px;
          width: 80px;
      }
  }
  @media (max-width:530px){
      .caption{
          font-size: 20px;
      }
      .container{
          width: 80%;

      }
      .button{
          width: 70px ;
          font-size: 8px;
      }
  }